@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import-normalize;

:root {
  --font-Roboto: 'Roboto', sans-serif;

  --gradient1: linear-gradient(90deg, rgba(51, 102, 153, 1) 0%, rgba(239, 247, 255, 1) 100%);


  --color-charcoal: #333333;
  --color-bonewhite: #f9f6ee;
  --color-gentlegrey: #dadada;
  --color-eminence: #6c3082;
  --color-royalgold: #f5bd02;
  --color-royalmaroon: #670e10;
  --color-royalblue: #0a3d62;
  --color-royalpurple: #4a2c6c;
  --color-redditblue: #336699;
  --color-redditwhite: #EFF7FF;

  --color-background1: #EFF7FF;
  --color-background2: #dadada;

  --color-content: #333333;
  --color-content2: #336699;

  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}
